.banner{
    position: relative;
}

.banner>h1{
    position: absolute;
    top: 280px;
    left: 200px;
}
@media only screen and (max-width: 1020px) {
    .parallax{
        background-attachment: local;
    }
    .banner>h1{
        position: absolute;
        top: 10px;
        left: 30px;
    }
    .bannerImage{
        height: 50%;
    }
  }
@media only screen and (min-width: 320px) and (max-width: 479px){
  .bannerImage {
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    background-position: 0px 0px !important;
      width: 100%;
  }
}

